@import 'normalize.css';
@import 'variables';

html {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-m);
  line-height: 1.5;
  color: var(--white);
  background-color: var(--bg-color);
  height: 100%;
}

#root {
  height: 100%;
}
