:root {
  // FONT SIZES
  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;

  // COLORS
  --bg-color: #292a4b;
  --modal-bg: #29294bbf;
  --black: #28282b;
  --white: #edecec;
  --dark-grey: #202029;
  --light-grey: #cfcbcb;
  --blue: #6495ed;
  --light-blue: #add8e6;
  --mango: #f4bb44;
  --purple: #cf9fff;
  --green: #50c878;
  --yellow: #fffaa0;
  --red: #cc310a;

  // SIZES
  --header-height: 64px;
}
