:root {
  // FONT SIZES
  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 24px;
  --font-size-xl: 32px;

  // COLORS
  --bg-color: #16181e;
  --black: #28282b;
  --white: #edecec;
  --dark-grey: #202029;
  --light-grey: #cfcbcb;
  --blue: #6495ed;
  --light-blue: #7db9e8;

  // SIZES
  --header-height: 64px;
}
