.pagination {
  display: flex;
  align-items: center;
  gap: 20px;
}

.page {
  font-size: var(--font-size-l);
  margin: 0;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  &:disabled {
    cursor: default;
    opacity: 0.4;
  }
}

.arrow {
  vertical-align: middle;
  fill: var(--light-grey);
  width: 25px;
  height: 25px;
}
