.header {
  margin-bottom: 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar {
  padding: 40px 0 20px;
}

.linkList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  gap: 16px;
}

.linkItem {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
